# Markazlashgan API base (oxirida /api bo'lishi shart)
VITE_API_URL=http://localhost:5000/api

# Google OAuth (Signup sahifasi uchun)
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here

# AI chat bot api key
AI_API_KEY=[GCP_API_KEY]

# AI tahlil api key
AI_TAHLIL_API_KEY=[API_KEY]